node_modules

# Entornos virtuales de Python
venv/
venv312/
env/
ENV/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Archivos grandes y temporales
*.dll
*.pyd
*.dylib
*.so

# Variables de entorno y secretos
.env
*.env
.env.local
.env.*.local